.container {
  width: 100dvw;
  height: 100dvh;
}

.infoContainer {
  width: 90dvw;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.playerTag {
  display: inline-flex;
  align-items: center;
  z-index: 1;
}
