.container {
  width: 100dvw;
  height: 100dvh;
  background-image: url('/assets/sky.gif');
}

.infoContainer {
  width: 90dvw;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.playerTag {
  display: inline-flex;
  align-items: center;
  z-index: 1;
}

@keyframes hoverPulse {
  0% {
    position: relative;
    top: -24px;
  }
  50% {
    position: relative;
    top: 0px;
  }
  100% {
    position: relative;
    top: -24px;
  }
}

.bytelingContainer {
  width: 100dvw;
  height: 300px;
  padding: 128px;
  position: fixed;
  top: 200px;
  display: flex;
  justify-content: space-between;
}

.byteling {
  width: 300px;
  height: 400px;
  animation: hoverPulse infinite 5s;
}

.platform {
  width: 290px;
  height: 86px;
  background-image: url('/assets/platform.png');
}

.sprite {
  width: 200px;
  height: 200px;
}
